<ion-view view-title="Chat">
	<ion-content>
		<div class="container">
	    <h2>Chat</h2>
		<form>
		  <input placeholder="Message..." ng-model="newMessage">
		  <button type="submit" ng-click="addMessage(newMessage);newMessage = null;">send</button>
		</form>
		<p>{{ user.facebook.displayName }}</p>
		<ul id="messages" ng-show="messages.length">
			<li ng-repeat="message in messages | reverse | limitTo:10">
				<img ng-src="https://graph.facebook.com/{{message.userid}}/picture" alt="" class="img-circle" style="width:30px;height:30px;">
				{{message.text}}
			</li>
		</ul>

		<p class="alert alert-danger" ng-show="err">{{err}}</p>
		</div>
	</ion-content>
</ion-view>
