<ion-side-menus enable-menu-with-back-views="false">
  <ion-side-menu-content>
    <ion-nav-bar class="bar-stable">
      <ion-nav-back-button>
      </ion-nav-back-button>

      <ion-nav-buttons side="left">
        <button class="button button-icon button-clear ion-navicon" menu-toggle="left">
        </button>
      </ion-nav-buttons>
    </ion-nav-bar>
    <ion-nav-view name="menuContent"></ion-nav-view>
  </ion-side-menu-content>

  <ion-side-menu side="left">
    <ion-header-bar class="bar-stable">
      <h1 class="title">Menu</h1>
    </ion-header-bar>
    <ion-content>
      <ion-list>
        
        <ion-item nav-clear menu-close>
          <img  class="center-block img-circle" ng-src="{{userData.facebook.cachedUserProfile.picture.data.url}}"/>
          <p class="text-center user-displayname">{{userData.facebook.displayName}}</p>
        </ion-item>


        <ion-item nav-clear menu-close class="item-icon-left" ng-click="logout()" href="">
          <i class="icon ion-android-exit"></i>
          logout
        </ion-item>
        <ion-item nav-clear menu-close class="item-icon-left" href="#/home/chat">
          <i class="icon ion-chatbubbles"></i>
          Chat
        </ion-item>
        <ion-item nav-clear menu-close class="item-icon-left" href="#/home/venues">
          <i class="icon ion-beer"></i>
          Bares
        </ion-item>
        <ion-item nav-clear menu-close class="item-icon-left"  href="#/home/camera">
          <i class="icon ion-camera"></i>
          Camera
        </ion-item>

        <ion-item nav-clear menu-close class="item-icon-left" ng-href="#/home/user/{{userData.facebook.id}}">
          <i class="icon ion-person"></i>
           Mi perfil
        </ion-item>

        <ion-item nav-clear menu-close class="item-icon-left" href="#/home/allusers">
          <i class="icon ion-person-stalker"></i>
          Todos los usuarios
        </ion-item>

      </ion-list>
    </ion-content>
  </ion-side-menu>
</ion-side-menus>
