<ion-view view-title="All users">
	<ion-content>
		<div class="row">
			<div class="col col-80 col-offset-10 text-center">
			    <h3>All users</h3>
			</div>
		</div>
		<div class="list text-center">
			<a class="item item-avatar text-left" ng-repeat="user in users" ng-show="users.length" ng-href="#/home/{{user.$id | deletechars}}">
		      <img ng-src="https://graph.facebook.com/{{user.$id | deletechars}}/picture">
		      <h2>{{user.name || user.displayName}}</h2>
		      <p>ID: {{user.$id | deletechars}}</p>
		    </a>
		</div>
	</ion-content>
</ion-view>